@import "bootstrap/_bootwrap";
@import "browser-fix";

@import "components/navbar";
@import "components/footer";
@import "components/idea-form";

@import "containers/home";

button {
    a {
        color: $gray-lightest;
        text-decoration: none;
        @include hover-focus {
            color: $gray-dark;
            text-decoration: none;
        }
        &:focus {
            @include tab-focus();
        }
    }
}

.page {

}

section {
    background-color: #fefefe;
    &.parallax-spacer {
        background: transparent;
    }
    > .section-heading { margin-bottom: 2rem; }
}

.col-img {
    // width: 100%;
}

.jumbotron {
    margin-bottom: 0;
}

.label {
    font-size: .8rem;
    font-weight: normal;
    padding: .5rem;
    margin: .1rem;
}

.site {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    .site-content {
        flex: 1;
    }
}
