{
    "rules": {
        "indent": [
            0,
            "tab",
            { "SwitchCase": 1 }
        ],
        "quotes": [
            2,
            "double"
        ],
        "linebreak-style": [
            2,
            "unix"
        ],
        "semi": [
            2,
            "always"
        ],
        "comma-dangle": [
            2,
            "never"
        ],
        "one-var": [
            2,
            "never"
        ],
        "func-names": 0,
        "react/no-multi-comp": 0
    },
    "env": {
        "commonjs": true,
        "amd": true,
        "es6": true,
        "jquery": true,
        "browser": true
    },
    "parser": "babel-eslint",
    "extends": "defaults/configurations/airbnb",
    "ecmaFeatures": {
        "jsx": true,
        "experimentalObjectRestSpread": true
    },
    "plugins": [
        "react"
    ]
}
