.page-home {
    // padding-top: 3.2rem;
}

.home-cover {
    display: flex;
    justify-content: center;
    align-items: center;

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("/img/workplace4.png");

    padding-top: 3.2rem;
    width: 100%;
    height: 16rem;
    @include media-breakpoint-up(sm) { height: 20rem; }
    @include media-breakpoint-up(md) { height: 24rem; }
    @include media-breakpoint-up(lg) { height: 30rem; }
    &-content {
        text-align: center;

        color: $gray-lighter;
        font-size: 1.3rem;
        @include media-breakpoint-up(sm) { font-size: 1.4rem; }
        @include media-breakpoint-up(md) { font-size: 1.5rem; }
        @include media-breakpoint-up(lg) { font-size: 1.6rem; }

        img.ideas-meet-ppl {
            width: 9rem;
            @include media-breakpoint-up(sm) { width: 11rem; }
            @include media-breakpoint-up(md) { width: 13rem; }
            @include media-breakpoint-up(lg) { width: 15rem; }
        }
    }
}
