.page-home {
    // padding-top: 3.2rem;
}

.home-cover {
    display: flex;
    justify-content: center;
    align-items: center;

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("/img/workplace4.png");

    padding-top: 3.2rem;
    width: 100%;
    height: 16rem;
    @include media-breakpoint-up(sm) { height: 20rem; }
    @include media-breakpoint-up(md) { height: 24rem; }
    @include media-breakpoint-up(lg) { height: 30rem; }
    &-content {
        text-align: center;

        color: $gray-lighter;
        font-size: 1.3rem;
        @include media-breakpoint-up(sm) { font-size: 1.4rem; }
        @include media-breakpoint-up(md) { font-size: 1.5rem; }
        @include media-breakpoint-up(lg) { font-size: 1.6rem; }

        img.ideas-meet-ppl {
            width: 9rem;
            @include media-breakpoint-up(sm) { width: 11rem; }
            @include media-breakpoint-up(md) { width: 13rem; }
            @include media-breakpoint-up(lg) { width: 15rem; }
        }
    }
}

.col-img-home {
    margin-top: 1rem;
    width: 12rem;
    @include media-breakpoint-up(sm) { width: 12rem; }
    @include media-breakpoint-up(md) { width: 10rem; }
    @include media-breakpoint-up(lg) { width: 12rem; }
    @include media-breakpoint-up(xl) { width: 14rem; }
}

.jumbotron-vision {
    border-radius: 0;
    color: white;
    background-image: url("/img/pattern.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.label-outline {
    padding: .8rem !important;
    font-size: 1rem !important;
    border: solid 0.0625rem #ED5454;
    color: #ED5454;
    background-color: none;
}

.banner {
    &-sentence {
        font-size: 1.2rem;
        @include media-breakpoint-up(sm) { font-size: 1.4rem; }
        @include media-breakpoint-up(md) { font-size: 1.6rem; }
        @include media-breakpoint-up(lg) { font-size: 1.8rem; }
        @include media-breakpoint-up(xl) { font-size: 2.0rem; }
    }
    &-img {
        width: 100%;
        @include media-breakpoint-up(sm) { width: 28rem; }
        @include media-breakpoint-up(md) { width: 36rem; }
        @include media-breakpoint-up(lg) { width: 40rem; }
        @include media-breakpoint-up(xl) { width: 45rem; }
    }
}
